
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
                

html, body {
    margin: 0px auto;
    background-color: #EDEDED;
}

/* logo and profile pic section */

header {
    width: 375px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.profile-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;

}

.logo {
    width: 150px;
    margin: 16px 150px 16px 15px;
    
}

.profile-wrapper .avatar , .post-wrapper .avatar{
    border-radius: 100px;
    width: 44px;
    height: 44px;
}

.post-wrapper .avatar{
    margin: 10px 0 0 10px;
}

/* post body section  */

section {
    width: 375px;
    margin: 0 auto;
    background-color: #FFFFFF;
    
}

.profile-name {
    font-family: source sans pro;
    font-size: 13px;
    font-weight: 700;
    color: #000000;

}

.location {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 400;
}

p {
    margin: 0;
}

.user-info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.post-content {
    margin: 10px auto;
    padding-bottom: 30px;
}

.post-body {
    background-color: #FFFFFF;
}

.post-pic {
    width: 375px;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 20px 5px;
}

.reaction-icons ,.like-counter{
    margin: 0 0 15px 10px;
}

.like-counter {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
}

.post-commants {
    font-family: Source Sans Pro;
    font-size: 13px;
    font-weight: 400;
}